
.cross_dropdown_img{
    position: relative;
    display: inline-block;
}

.cross_dropdown-content_img{
    display: none;
    position: absolute;
    z-index: 1;
    min-width:20vw;
    min-height: 10vh;
    background-color: whitesmoke;
    box-shadow: black;
}

.cross_dropdown_img:hover .cross_dropdown-content_img{
    display: block;
}


.cross_dropdown_img button{
    padding:0.3rem;
    margin:0.2rem;
    font-size: 1rem;
    font-weight: bolder;
}


@media only screen and (max-width: 600px){
    .cross_dropdown-content_img{
         min-width : 50vw;
         min-height: 10vh;

    }
}